body {
    margin: 0;
    padding: 0;
    font-family: 'Handjet', cursive;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #252525;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #252525;
}

.sticky-header nav ul li {
    display: inline;
    margin: 0 20px;
}

.sticky-header nav ul li a {
    text-decoration: none;
    color: #252525;
    font-size: 20px;
}

.logo {
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
    vertical-align: middle;
}
.icons-side{
    display: none;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icons a {
    text-decoration: none;
    margin-left: 20px;
}

.icon-img {
    width: 28px;
    height: 28px;
    border: none;
}
.menu-button{
    display: none;
}
.close-button{
    display: none;
}

/* Media query for mobile and tablet views */
@media screen and (max-width: 1023px) {

    .sticky-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .sticky-header nav {
        display: none;
    }

    .logo{
        margin-left: 10px;
    }
    .menu-button {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 35px;
    }

    .menu-button:focus {
        outline: none;
    }

    .desktop-nav.show {
        display: block;
        position: fixed;
        top: 70px; /* Adjust the top position to match your header height */
        right: 0;
        width: 100%;
        height: calc(100% - 70px); /* Subtract the header height from the total height */
        background-color: #fff;
        z-index: 1001;
        overflow-y: auto;
    }

    .desktop-nav.show ul {
        text-align: center;
        padding: 0;
        margin: 50px 0;
    }

    .desktop-nav.show ul li {
        display: block;
        margin: 20px 0;
    }
    .icons{
        display: none;
    }
    .icons-side{
        display: flex;
        flex-direction: column; /* Display icons vertically */
        align-items: center; /* Center icons horizontally */
        margin-top: 20px; /* Add spacing between menu items and icons */
    }

    .icons-side a {
        text-decoration: none;
        margin-left: 0; /* Remove margin between icons */
    }

    .icons-side img {
        width: 28px;
        height: 28px;
        margin-bottom: 10px; /* Add spacing between icon and text */
        vertical-align: middle;
    }
    .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 32px;
        background: none;
        border: none;
        cursor: pointer;
        color: #252525;
        display: flex;
    }

}
.content {
    padding-top: 100px; 
}
.content-inner {
    padding: 20px; 
    max-width: 800px; 
    margin: 0 auto;
    font-family: 'Handjet', cursive;
    text-align: center;
}